#command_palette {
    background: $surface;
    border: heavy $secondary;
    width: 60%;
    height: 40%;
    padding: 1 2;
    layout: vertical;
    dock: top;
}

.category {
    color: $secondary;
    text-style: bold;
}
